<form th:fragment="form" name="searchForm" ng-submit="ctrl.paginatedSearch()" class="form-horizontal col-sm-12">
    <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="firstname">Jméno :</label>
        <div class="col-sm-9">
            <input type="text" id="firstname" ng-model="firstname" name="firstname"  class="form-control"/>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="name"> Název firmy nebo osoby, příjmení:</label>
        <div class="col-sm-9">
            <input type="text" id="name" ng-model="name" name="name"  class="form-control"/>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="socialnumber">Rodné číslo :</label>
        <div class="col-sm-9">
            <input type="text" id="socialnumber" ng-model="socialnumber" name="socialnumber"  class="form-control"/>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="companynumber">Identifikační číslo :</label>
        <div class="col-sm-9">
            <input type="text" id="companynumber" ng-model="companynumber" name="companynumber"  class="form-control"/>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" for="persontype"> Druh osoby :</label>
        <div class="col-sm-9">
            <select class="form-control" id="persontype"  ng-model="persontype" name="persontype">
                <option value="fyzická">Fyzická</option>
                <option value="právnická">Právnická</option>
            </select>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-3 control-label" > Pohlaví :</label>
        <div class="col-sm-9">
            <label for="male" class="radio-inline">
                <input type="radio" ng-model="gender" id="male" name="gender"  value="male" /> Muž
            </label>
            <label for="female" class="radio-inline">
                <input type="radio" ng-model="gender" id="female" name="gender"  value="female" /> Žena
            </label>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-primary" >Hledat</button>
        </div>
    </div>
</form>