<!DOCTYPE html>
<html lang="cz" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Centrální databáze osob - chyba</title>
</head>
<body>

<div class="container">
    <h1>Error Page</h1>
    <p th:if="${url}">
        <b>Page:</b> <span th:text="${url}">Page URL</span>
    </p>

    <p th:if="${timestamp}" id='created'>
        <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
    </p>

    <p th:if="${status}">
        <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
            th:if="${error}" th:text="'('+${error}+')'">error ...</span>
    </p>
    <p th:if="${message}">
        <b>Message:</b> <span th:text="${message}">message...</span>
    </p>
</div>
</body>
</html>
